*.class
*.0
*.id
*.db
*.names
*.strings
*.keys
*.index
*.arrays
*.labels
*.b
*.a
*.log
*.gen
*.cfs
*.properties
*.prefs

/target/
*/.Rapp.history
/scripts/config.R
/resources
/.project
*DS_Store
*Rlog.txt
/.metadata/
/RemoteSystemsTempFiles/
/scripts/.Rhistory
